<div data-role="header">
    <h1>KuzaGO</h1>
</div>

<div data-role="main" class="ui-content">
    <a href="#findWalk" data-transition="flip" class="ui-btn">Find walk</a>
    <a href="#editWalk" data-transition="flip" class="ui-btn">Edit walks</a>
    <a href="maps.html" data-transition="flip" class="ui-btn">Maps</a>
    <a href="camera.html" data-transition="flip" class="ui-btn">Camera</a>
    <a href="flipTest.html" data-transition="flip" class="ui-btn">Flip Test</a>
    <a href="addPet.html" data-transition="flip" class="ui-btn">Add Pet</a>
    <a href="myPets.html" data-transition="flip" class="ui-btn">My Pets</a>
</div>

<div data-role="footer">
    <h1>Noga</h1>
</div>